/* body{
  height: 100vh;
  background: white;
  transition: 5s;
  animation: bg-animation 2s linear infinite alternate;
}  */
/* @keyframes bg-animation {
  to{ background: #b4b2b2}
} */

.reddit-mono-h1{
  font-family: "Reddit Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  text-align: center;
}

h1{
  font-weight: bolder;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 0;
  max-width: none;
  padding: 0;
  /* max-height: 700px; */
}

.container-btn{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 2rem;
  width: 75%;
  align-self:center;
  gap: 5px;
}
.container-btn h5{
  width: 100%;
}

h3,h4,h5{
  margin-top: 0;
  margin-bottom: 0;
}

h4{
  font-weight: bolder;
}

p{
  /* font-weight: 500; */
  margin-bottom: 0;
  padding-left: .25rem;
  padding-right: .25rem;
}

h3{
  /* font-weight: 900; */
  font-size: xx-large;
  font-weight: bolder;
}
.container-btn h5:hover{
  transition: .3s;
    color: darkblue;
    /* font-size: larger; */
    cursor: pointer;
    /* background-color: rgb(169, 169, 169, 0.2); */ 
}
.container-btn button:hover{
    cursor: pointer;
    background-color: rgb(169, 169, 169, 0.2);
    border: 3px solid black;
}

.container-btn button{
  margin-top: 5px;
  border: 2px solid black;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 5px;
  height: max-content;
  text-align: center;
}

.container-outer{
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top right, rgb(0, 0, 0, .9),rgba(137, 137, 137, 0.7),rgba(225, 223, 223, 0.7));
  background-size: 500%;
  animation: bg-animation 2s linear infinite alternate;
  /* max-height: 700px; */
}
body{
  height: 100%;
  background: linear-gradient(rgba(112, 112, 112, 0.9)0% 14%,rgba(232, 232, 232, 0.7)15% 85%,rgba(112, 112, 112, 0.9)86% 100%);
  /* background-size: 500%;
  animation: bg-animation 2s linear infinite alternate; */
} 
@keyframes bg-animation {
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}
.container-inner{
  position: relative;
  background-color: white;
  width: 80%;
  height: 80%;
}
.container-inner-certificate{
  z-index: 99;
  position: relative;
  display: flex;
  width: 85%;
  height: 85%;
}
.title{
  font-weight: 900;
  text-decoration: underline;
  cursor: text;
}
.contact-education span{
  cursor: pointer;
  font-weight: larger;
}
.container-inner-certificate img{
  width: 100%;
  height: 100%;
}

.container-inner-skills{
  position: relative;
  background-color: white;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 999;
}

.container-inner-skills div{
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding-left: 1rem;
  padding-right: 1rem;
}
.container-inner-skills li{
  list-style: none;
  font-size: larger;
}
.container-inner-skills label{
  font-size: x-large;
  font-weight: 900;
}

.container-inner-about{
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  background-color: white;
  width: 85%;
  height: 75%;
  max-height: 700px;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 999;
}

.contact-education{
  overflow: auto;
  background-color: rgb(212, 210, 205);
  grid-area: 1 / 1 / 3 / 2;
  padding: 1rem;
  border-radius: 1rem;
}
.container-inner-about>div>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .25rem;
}
.container-inner-about label{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.career-objective{
  grid-area: 1 / 2 / 3 / 3;
  overflow: auto;
  padding: 1rem;
}
.career-objective p{
  margin-top: 0;
  text-align: justify;
}

.career-objective li,h2{
  text-align: left;
}
.career-objective h2{
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.career-objective>div{
  gap: .25rem;
}

.web-name{
  font-weight: 900;
  text-decoration: underline;
}

.btn{
  border: 2px solid black;
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
  padding: 2px;
  background: rgb(201, 201, 201);
}
.btn:hover{
  background: rgba(88, 88, 88, 0.9);
  border: 2px solid black;
}

.link{
  color: blue;
  text-decoration: underline;
}

.container-inner-projects{
  display: grid;
  grid-template-columns:  repeat(3, 1fr);
  position: relative;
  background-color: white;
  width: 95%;
  height: 80%;
  border-radius: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 1rem;
  padding-right: 1rem;
  overflow: auto;
  gap: .5rem;
  max-height: 700px;
  z-index: 999;
}

.container-inner-projects div{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  overflow: auto;
}

.container-inner-projects label{
  font-size: large;
  font-weight: 900;
  height: 2rem;
  cursor: pointer;
}

.container-inner-projects label:hover{
  transition: .3s;
  /* font-size: x-large; */
  color: blue;
}
.container-inner-projects img{
  width: 90%;
  height: 25%;
}

.container-inner-projects p{
  text-align: left;
  white-space: normal;
  width: 90%;
  word-wrap: break-word;
  font-optical-sizing: none;
  /* word-wrap: break-word; */
}

.largerFont{
  font-size: larger;
}

.container-inner-projects span{
  color: blue;
  text-decoration: underline;
}

footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  min-width: 400px;
  text-align: center;
}

@media (max-width: 800px) {
  .container-inner-about, .container-inner-projects, .container-inner-certificate{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: 400px;
    max-height: 700px;
    /* background: red; */
  }

  .contact-education, .career-objective{
    height: 50%;
    overflow: auto;
  }
  .container-inner-skills, body{
    min-width: 400px;
  }
  .container-inner-projects img{
    width: 60%;
    height: 40%;
  }
  .container-inner-projects{
    overflow: auto;
  }
  .container-inner-projects div{
    overflow: unset;
  }
  .container-inner-projects div>p{
    text-align: center;
  }
  .container-btn{
    width: 100%;
    height: 3rem;
  }
  /* footer{
    min-width: 80%;
    bottom: 3px;
  } */
}

.sideBar{
  width: fit-content;
  position: fixed;
  top: 20px;
  right: 20px;
}
svg:hover{
  width: 55px;
  height: 55px;
}
/* .container-inner-sidebar{
  position: fixed;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(169,169,169,0.99);
  animation: sidebar-animation .5s forwards;
}
@keyframes sidebar-animation {
to{ 
  position: fixed;
  right: 0;
  width: 15%;
  height: 100%;
}
} */
.container-outer-sidebar{
  position: fixed;
  width: 0%;
  height: 100%;
}
.container-inner-sidebar{
  position: fixed;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(169,169,169,0.99);
}
.container-outer-sidebar:focus > .container-inner-sidebar{
  animation: sidebar-animation2 .5s forwards;
}
.focused{
  animation: sidebar-animation .5s forwards;
}
.focused-outer{
  width: 100%;
}

@keyframes sidebar-animation {
  to{ 
    width: 15%;
  }
  }
@keyframes sidebar-animation2 {
  from{
    width: 15%;
  }
  to{
    width: 0%;
  }
 }

.sidebar-btn{
  width: 100%;
  padding: 1rem;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: fit-content;
}
.sidebar-btn button{
  margin-top: 5px;
  background-color: rgb(0, 0, 0, 0);
  border-radius: 5px;
  font-size: larger;
  width: 80%;
  border-color: rgb(0, 0, 0); border-style: solid; border-width: 0 0 2px 0;
}

.sidebar-btn button:hover{
  transition: .3s;
  color: blue;
}

.typewriter{
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end) infinite
    /* blink-caret .75s step-end infinite; */
}

/* The typing effect */
@keyframes typing {
  from { width: 0% }
  to { width: 100% }
}

/* The typewriter cursor effect */
/* @keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
} */


/* @media (min-width: 801px) {
  .container-inner-about, .container-inner-projects{
    background: rgb(47, 0, 255);
    height: 75%;
  }  
} */

/* @media (min-height: 700px) {
  footer{
    bottom:unset ;
  }
} */